#container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    margin: 10px;
}

.card .comprovante-pagamento {
    margin: 0;
    font-size: 12px;
    top: 10px;
    right: 10px;
    color: #333333;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px dashed #616161;
    margin: 10px 0;
}

.card h3 {
    margin: 10px;
    font-size: 22px;
    color: #FF7F50;
}

.card .detalhes-pagamento {
    text-align: center;
    font-weight: bold;
}

p {
    margin: 5px 0;
}

.card p {
    color: #000;
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
}

.card .valor-reais {
    color: #000;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}