@import url('../css/style.css');
.div-externa-duvidas{
    padding: 100px 0px;
    width: 65%;
    margin: auto;
    border: 2px solid red;
}
.div-externa-duvidas h4{
    font-weight: 800; margin-bottom: 20px; font-family: 'poppins';color:#000
}

.div-externa-duvidas h2{
    font-weight: 500; margin-bottom: 20px; font-family: 'poppins';color:#000
}

/* Dúvidas frequentes */
.accordion{margin-bottom: 100px!important;text-align: start;font-family: nunito;font-size: 18px; width: 40%;border: 2px solid red}
.accordion-button:not(.collapsed) {background-color: transparent;color:#000}
.accordion-button:focus {box-shadow: none;}

.div-externa-duvidas{text-align: center;}
.div-externa-duvidas button{margin: 20px 0px 5px 0px;font-weight: 800; margin-bottom: 20px; font-family: 'poppins';color:#000}
