@import './style.css';

.div-externa-cards{width: 100%;background: #f3f3f3;}
.div-interna-cards{display: flex; flex-wrap: wrap; justify-content: space-evenly;flex-wrap: wrap; width: 65%; padding: 100px 0px; align-items: center; 
margin: auto;}
.titulo{width: 100%; text-align: center;font-weight: 800; margin-bottom: 80px; font-family: 'poppins';color:#000}
.card-salas{width: 30%;border-radius: 2px;background-color: #fff;}
.card-imgs{height: 50%;background: rgb(131,58,180);background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(250,73,3,1) 62%, rgba(252,176,69,1) 100%);padding-bottom: 4px;}
.card-imgs img{width: 100%;height: 100%;}
.card-salas h5{font-weight: 800; margin-bottom: 10px; font-family: 'poppins';color:#000; margin-top: 30px;}
.card-salas p{color:#484848;font-weight: 500;width: 60%;margin: auto;font-family: nunito; font-size: 14px;}
.div-link{width: 100%;margin-bottom: 30px;text-align: center;}
.div-link a{font-size: 16px;font-weight: 600;color: #000;text-decoration: none; border-radius: 5px;}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    
}

@media screen and (max-width: 600px) {
    
}