.modal{background: rgb(131,58,180);background: linear-gradient(0deg, rgba(131,58,180,1) 8%, rgba(240,94,34,1) 74%, rgba(252,176,69,1) 100%);
font-family: nunito;}
.modal-title{font-weight: 800; font-family: 'poppins';}
.btn-modal{width:100%;padding: 10px 50px;border: none;font-size: 18px;font-weight: 600;border-radius: 5px;background-color: #000; color: #fff;margin-bottom: 15px;border:1px solid #000;}