@import './style.css';
/* #D7CEC7 */
.div-salas-imagens{
    width: 100%;
    padding: 60px 0px;
    color: #01056a;
    background-color: #f3f3f3;
}
.div-interna-imagens{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 80px;
    align-items: center;
    background-color: #fff;
    justify-content: space-evenly;
}
.titulo-imagens{
    width: 80%;
    color: rgb(67, 83, 96);
    font-size: 36px;
    font-family: nunito;
    margin: 0px auto 60px auto;
}
.div-imagem-grande{
    width: 28%;
}
.div-imagem-grande div img{
    width: 100%;
    height: 100%;
}
.div-imagens-pequenas{
    width: 10%;
    height: 30rem;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.div-imagens-pequenas div{
    width: 100%;
    height: 190px;
    margin: 3px 15px 0px 3px;
}
.div-imagens-pequenas div img{
    width: 100%;
    height: 100%;
}
/* Div-salas*/
.div-externa-card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0px;
  padding: 100px 0px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.div-externa-card > div{
  width: 20%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
  justify-content: center;
}

.card{
  width: 24rem;
  height: 30rem;
  margin-left: 50px;
  border-radius: 0px;
}

.div-externa-card .carousel{
  width: 90%;
  height:100% !important;
}

.div-externa-text{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0px;
  padding: 100px 0px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-evenly;
}
.div-externa-text > div{
  width: 70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
  justify-content: center;
}
.div-externa-text p, .div-externa-text button {
  font-family: nunito;
  font-size: 16px;
  font-weight: 700;
}

.carousel:hover{
  filter: grayscale(100%);
}
.carousel-item{
  width: 100%;
  height: 100%;
} 
.div-externa-card .carousel-item img{
  width: 100%;
  height: 100%;
}
.carousel-indicators {
    top: 100%;
}

.div-texto{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 80px;
    align-items: center;
    justify-content: space-evenly;
}

.texto-salas{   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 50%;
}

.texto-salas h3{   
    font-weight: 700;
    color: #01056a;
}

.botao-alugar{
    align-self: end;
    width: 18%;
    padding-bottom: 20px;
}
.botao-alugar button{
    padding: 10px 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #01056a;
}

.externo{
    height: 500px;
    margin: auto;
    overflow: hidden;
}
a {
    color: #01056a;
    text-decoration: none;
}
.div-comodidades{
    width: 80%; 
    margin:auto; 
    display: flex; 
    justify-content: center;
    background-color: #fff;
}
.comodidades{
    width: 170px;
    height: 90px; 
    margin: 20px; 
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    font-family: nunito;
    color: rgb(67, 83, 96);
}

.modal-body {
  display: flex;
  justify-content: center!important;
}

/* Estilo padrão para o FullCalendar */
#calendar {
    width: 22%;
    height: 550px;
  }
  
  /* Ajusta a largura do calendário em dispositivos menores */
  @media (max-width: 768px) {
    #calendar {
      width: 100%;
    }
  }
  
  /* Reduz a fonte e as bordas do calendário em dispositivos menores */
  @media (max-width: 480px) {
    #calendar {
      font-size: 12px;
      border-width: 1px;
    }
  }
  
  /* Oculta alguns elementos do calendário em dispositivos menores */
  @media (max-width: 480px) {
    .fc-header-toolbar .fc-right,
    .fc-header-toolbar .fc-left,
    .fc-header-toolbar .fc-center {
      display: none;
    }
  }
  
  /* Usa ícones em vez de texto para descrever os eventos do calendário */
  .fc-event-title {
    display: none;
  }
  
  .fc-event-dot {
    font-size: 20px;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
    line-height: 1;
    text-align: center;
  }

  /* Remove as bordas das células do calendário */
  .fc-day, .fc-widget-content {
    border: none !important;
  }
  
  /* Adiciona bordas arredondadas às células do calendário */
  .fc-day, .fc-widget-content {
    border-radius: 50% !important;
  }
  
  /* Estilo para o cabeçalho do calendário */
  .fc-toolbar {
    background-color: #fff;
    border: none;
    border-radius: 20px;
  }
  
  /* Estilo para os botões de navegação do calendário */
  .fc-button {
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  /* Estilo para o botão de hoje */
  .fc-today-button {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: rgb(62, 146, 62);
  }

  /* Troca a cor do título do mês para azul */
.fc-toolbar h2 {
    font-family: nunito;
    color: #01056a;
  }
  /* Efeito de hover para as células do calendário */
.fc-day:hover {
    background-color: rgb(62, 146, 62);
}

/* Deixa as bordas das células do calendário mais delicadas */
.fc-day, .fc-day-top, .fc-day-number {
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
  }

  /* Remove o efeito de hover dos dias da semana */
  .fc-day-header:hover {
    background-color: transparent;
  }

  /* Adiciona um espaçamento interno nas células do calendário */
.fc-day, .fc-day-top {
    text-align: center;
  }

.fc .fc-daygrid-day{
    text-align: center;
    padding-top: 27px;
    padding-right: 29px;
}
/* Diminui o tamanho das células do calendário */
.fc-day, .fc-day-top {
    font-size: 0.8em;
    padding: 5px;
    width: 20px;
    height: 20px;
  }


.card-title{
  font-family: nunito;
  font-size: 16px;
  font-weight: 700;
}
.info-salas-card{
  font-family: nunito;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 50px auto;
}
.info-salas-card i{
  color:rgb(199, 63, 104);
  margin-right: 10px;
}
.link-salas{
  color:rgb(199, 63, 104);
  font-family: nunito;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}