/*padrão*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;;
}

/*navbar*/
.div-nav{
    width: 6%;
    padding: 5px 0px 0px 20px;
}
.dropdown-menu.show {
    display: flex;
}
.div-nav img{
    width: 90px;
    height: 70px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.button img{
    width: 80px;
    height: 60px;
    margin-left: 50px;
}
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.navbar-nav{
    display: flex;
    justify-content: end;
    width: 100%;
}
.navbar-nav a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}
.navbar-nav a:hover {
    text-decoration: none;
    color: #01056a;
    opacity: 0.8;
    font-size: 18px;
}
.navbar{
    border-bottom: 0.5px solid rgb(200, 200, 200);
    font-weight: 400;
}
.navbar a{
    font-weight: 400;
}
.navbar-toggler{
    margin-left: 80px;
    margin-right: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn-login{
    border: 1px solid #01056a;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 60px;
    width: 150px;
}
.btn-login:hover{
    border: 1px solid #01056a;
}
.btn-login:focus{
    border: 1px solid #01056a;
}


/*index*/
.div-inicial{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(1, 5, 106);
    background-color: #ffffff;
}
.div-inicial h1{
    width: 100%;
    padding: 30px 0px;
}
.div-inicial div{
    width: 15%;
    height: 20vh;
    font-size: 20px;
    padding: 40px 0px;
    margin: 10px 50px;
    text-align: center;
    border-bottom: 0.5px solid rgba(1, 5, 106, 0.8);
    border-top: 0.5px solid rgba(1, 5, 106, 0.8);
}
.div-inicial div i{
    font-size: 28px;
    margin-bottom: 10px;
}
.h1{
    width: 100%;
    color: #01056a;
    
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: rgb(30, 0, 255) 5em 5em 5em;
}
.div-coworking{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    padding: 50px 20px;
    color:rgb(1, 5, 106);
    justify-content: center;
    background-color: #ffffff;
}
.div-coworking > div{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: justify;
    border-radius: 0px 10px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('../img/sala3/1.jpg');
}
.text-coworking{
    width: 45%;
    top: 150px;
    left: 40px;
    height: 35vh;
    padding: 30px 30px;
    position: relative;
    text-align: start;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(1, 5, 106, 0.8);
}
.text-coworking p{
    font-size: 17px;
}
.div-informacoes-empresa{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    color:rgba(1, 5, 106);
    background-color: #fff;
}
.div-informacoes-empresa > div{
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../img/doutor_index.png');
}
.div-informacoes{
    width: 80%;
    padding-left: 500px;
}
.div-informacoes button{
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 70%;
    padding: 5px 20px;
}
.div-descontos{
    width: 100%;
    height: 60vh;
    display: flex;
    color: #01056a;
    padding: 30px 0px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    background-image: url('../img/fundo.jpg');
}
.div-descontos > div{
    width: 35%;
}
.card-descontos{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.card-descontos div { 
    width: 30%;
    height: 90%;
    padding: 30px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: 4px solid #004d9b;
}
.card-descontos div h5{ 
    padding: 16px 0px;
}
.card-descontos div i{ 
    font-size: 48px;
    font-weight: 600;
}



/*login*/
.div-externa-login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}


/*DIV ESPECIALIDADES*/
.div-inicial-especialidades{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.div-inicial-especialidades h2{
    width: 100%;
    color: #01056a;
}
li{
    list-style-type: none;
}
.div-especialidades, .div-cartoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-especialidades h2{
    width: 100%;
    margin: 70px 0px;
    font-size: 36px;
    text-align: center;
}
.lista-especialidades{
    width: 25%;
    text-align: center;
    font-size: 26px;
    color: #4f4f4f;
}
.lista-especialidades i{
    font-size: 20px;
    color: #01056a;
}
.div-cartoes h2{
    width: 100%;
    padding-top: 150px;
    font-size: 36px;
    text-align: center;
}
.div-cartoes img{
    width: 250px; 
    height: 150px;
    margin: 40px;
}
.div-cartoes div{
    width: 80%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding: 100px;
}











































/*footer*/
.footer{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 80px 0px 50px 0px;
}

.footer .div-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    border-top: 0.1px solid #fff;
    padding-top: 20px;
    border-bottom: 0.1px solid #fff;
    padding-bottom: 20px;
}

.div-footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    padding: 30px 0px;
    font-size: 12px;
}
.footer img{
    width: 150px;
    height: 100px;
}

.footer a{
    font-family: nunito;
    color: rgb(79, 79, 79, 0.7);   
    text-decoration: none;
    font-weight: 600;
}

.icon-footer i{
    text-align: center;
    color: rgb(79, 79, 79, 0.7);
    font-size: 25px;
    letter-spacing: 20px;
    text-decoration: none;
}