<footer class="footer" style="background-color: #d7d7d7;">
    <div class="div-footer">
        <div>
            <img src="../../public/img/logo_png.png" alt="logo">
        </div>
        
        <div class="icon-footer">
            <a href="" target="_blank">
                <i class="fa fa-instagram hover-opacity"></i>
            </a>
            <a href="" target="_blank">
                <i class="fa fa-facebook hover-opacity"></i>
            </a>
            <a href="" target="_blank">
                <i class="fa fa-whatsapp hover-opacity"></i>
            </a>
            <a href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0zC4wz80uqcg2YLRSNqhIsjC0tEw1SbZINjRPSbIyqEhNNU0ytTQ1NjUxNklOsTT3kijNy0zLLM7MV8hKLErJzFVISVQoSM3LSAQAldEYSA&q=unifisio+jardim+da+penha&oq=unifisi&aqs=chrome.1.69i57j46i39i175i199i402i650j0i131i433i457i512j0i512l2j69i61j69i60l2.6935j0j7&sourceid=chrome&ie=UTF-8" target="_blank">
                <i class="fa fa-google hover-opacity"></i>
            </a>
        </div>
        <div>
            <a href="https://goo.gl/maps/6XHN11Q8mgpEdLSu7" target="_blank">
                Unifisio Saúde & Bem Estar<br>
                R. Aristóbulo Barbosa Leão 500<br>
                Shopping Victoria Mall - <br>
                Mata da Praia, Vitória - ES, 29060-010
            </a>
        </div>
    </div>
</footer>