<!-- Modal Reagendar-->
<div class="modal fade modal-lg" id="modalReagendar" tabindex="-1" aria-labelledby="modalReagendar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; width: 100%;">
                <div style="width: 100%; padding: 15px;">
                    <center>
                        <div style="text-align: center; font-size: 18px;">
                            <p>Selecione o dia para reagendar:</p>
                            <input class="w-50" style="padding: 5px; border-radius: 5px; border: 1px solid #000;" type="date" name="dataInput" id="dataInput"><br>
                        </div>
                        <button type="submit" class="btn btn-secondary w-50 mt-2" onclick="reagendarAgendamento()">Reagendar</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>