<!-- Modal Logout-->
<div class="modal fade modal-lg" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                <div style="width: 100%; padding: 15px;">
                    <center>
                        <form method="GET" action="/desconectar">
                            <button type="submit" class="btn btn-secondary w-100 mt-2 text-white">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                Desconectar
                            </button>
                        </form>
                        <form method="GET" action="/admin">
                            <button type="submit" class="btn btn-success w-100 mt-2 text-white">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                Painel do Administrador
                            </button>
                        </form>
                        <form method="GET" action="/horasAgendados">
                            <button type="submit" class="btn btn-success w-100 mt-2 text-white">
                                <i class="fa-solid fa-calendar-week"></i>
                                Horários agendados
                            </button>
                        </form>
                        <form method="GET" action="/criarPlanos">
                            <button type="submit" class="btn btn-success w-100 mt-2 text-white">
                                <i class="fa-solid fa-sheet-plastic"></i>
                                Criar Planos
                            </button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>