<div class="modal fade" id="modalConfExclusaoSala" aria-hidden="true" aria-labelledby="modalConfExclusaoSala" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Plano</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Você confirma a exclusão <b>permanente</b> do plano selecionado?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" onclick="onClickBtExcluirPlano()" class="btn btn-danger">Confirmar exclusão</button>
        </div>
      </div>
    </div>
</div>