<!-- Modal Logout-->
<div class="modal fade" id="logadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                <div style="width: 100%; padding: 15px;">
                    <center>
                        <form method="GET" action="/desconectar" class="mb-2">
                            <button type="submit" class="btn btn-secondary w-100">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                Desconectar
                            </button>
                        </form>
                        <form method="GET" action="/aluguel" class="mb-2">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fa-solid fa-house-laptop"></i>
                                Meus aluguéis
                            </button>
                        </form>
                        <div>
                            <button class="btn btn-danger w-100" data-bs-target="#modalConfExclusao" data-bs-toggle="modal">
                                <i class="fa-solid fa-trash-can"></i>
                                Apagar conta
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>