<div class="modal fade" id="modalBloquearDia" aria-hidden="true" aria-labelledby="modalBloquearDia" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bloquear/Desbloquear dia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div style="text-align: center; font-size: 18px;">
                <p>Selecione o dia para bloquear:</p>
                <input class="w-50" style="padding: 5px; border-radius: 5px; border: 1px solid #000;" type="date" name="dataInput" id="dataInput"><br>
            </div>
            <!-- <p>Dias já bloqueados</p>
            <div id="diasBloqueados">

            </div> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" onclick="onClickBtBloquearDia()" class="btn btn-danger">Bloquear</button>
        </div>
      </div>
    </div>
</div>