<!-- Modal Editar Sala-->
<div class="modal fade modal-lg" id="edtSalaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                <div style="width: 100%; padding: 15px;">
                    <center>
                        <div class="inputs-sala">
                            <h3 class="titulo">Editar sala</h3>
                            
                            <div class="form-group">
                                <label for="nome">Nome da Sala:</label>
                                <input class="w-75 form-control" type="text" placeholder="Nome da sala" name="nome" id="nome">
                            </div>
                            
                            <div class="form-group">
                                <label for="peqDescricao">Pequena descrição:</label>
                                <input class="w-75 form-control" type="text" placeholder="Pequena descrição" name="peqDescricao" id="peqDescricao">
                            </div>
                            
                            <div class="form-group">
                                <label for="longDescricao">Resumo da sala:</label>
                                <input class="w-75 form-control" type="text" placeholder="Resumo da sala" name="longDescricao" id="longDescricao">
                            </div>
                            
                            <div class="form-group">
                                <label for="valor">Valor em reais:</label>
                                <input class="w-75 form-control valorSala" type="text" placeholder="Valor em reais" name="valor" id="valor" onchange="formatarMoeda(1)">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-secondary w-50 mt-2" onclick="onClickBtEditarSala()">Editar</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>