<!-- Modal Login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header w-100 text-center">
                <h5 class="modal-title">Acessar minha conta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="fecharModal(document.getElementById('loginModal'))"></button>
            </div>
            <div class="modal-body">
                <form id="form-login">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email: </label>
                        <input type="email" class="form-control" id="emailLogin" name="emailLogin" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha: </label>
                        <input type="password" class="form-control" id="senhaLogin" name="senhaLogin" required>
                    </div>
                    <button type="submit" class="btn btn-modal" name="btn-login" id="btnLogin">Acessar</button>
                </form>
                <center>
                    <div class="googleAuth"> 
                        <div id="g_id_onload"
                            data-client_id="245073186631-0aq6pl4ailrqeruehjuvhkk35iuem2e6.apps.googleusercontent.com"
                            data-login_uri="/loginGoogle"
                            data-context="use">
                        </div>
                        <div class="g_id_signin"
                            data-type="standard"
                            data-size="large"
                            data-theme="outline"
                            data-text="sign_in_with"
                            data-shape="rectangular"
                            data-logo_alignment="left">
                            <i class="fa-brands fa-google"></i>
                        </div>
                    </div>
                </center>
                <div class="w-100 text-center mt-2 mb-2">
                    Novo aqui? 
                    <a href="" data-bs-toggle="modal" 
                    data-bs-target="#cadastro" 
                    class="mt-2" style="color: #f05e22;">
                    Cadastrar-me</a>
                </div>
            </div>
        </div>
    </div>
</div>