<div class="modal fade" id="modalDesbloquearDia" aria-hidden="true" aria-labelledby="modalBloquearDia" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Desbloquear dia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="div-externa-desbloquear">
          <p id="texto-desbloquear">Selecione o dia para desbloquear:</p>
          <div id="containerDias">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" onclick="onClickBtDesbloquearDia()" class="btn btn-danger">Desbloquear</button>
      </div>
    </div>
  </div>
</div>