<!-- Modal Editar Sala-->
<div class="modal fade modal-lg" id="edtSalaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                <div style="width: 100%; padding: 15px;">
                    <center>
                        <div class="inputs-sala">
                            <input class="w-50" type="text" placeholder="Nome da sala" name="nome" id="nome">
                            <input class="w-50" type="text" placeholder="Pequena descrição" name="peqDescricao" id="peqDescricao">
                            <input class="w-50" type="text" placeholder="Resumo da sala" name="longDescricao" id="longDescricao">
                            <input class="w-50" type="text" placeholder="Valor em reais" name="valor" id="valor">
                        </div>
                        <button type="submit" class="btn btn-secondary w-50 mt-2" onclick="onClickBtEditarSala()">Editar</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>