<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand div-nav" href="#"><img src="../../public/img/logo_png.png" alt="LOGO_UNIFISIO"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/index">Home</a>
                <a class="nav-link" href="/salas">Salas</a>
                <a class="nav-link" href="/duvidas">Dúvidas</a>
                
                <a class="btn-login btn" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" id="nomeUsuario">
                    <i class="fa fa-user"></i> Login
                </a>
            </div>
        </div>
    </div>
</nav>