<nav class="navbar navbar-expand-lg mb-0">
    <div class="navbar-brand div-nav">
        <img src="../../public/img/logoSimples_png.png" alt="LOGO_UNIFISIO">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacao" aria-expanded="false" >
        <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="barraNavegacao">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/duvidas">Duvidas</a></li> 
            <li class="nav-item"><a class="nav-link" href="/salas">Salas</a></li>
            <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
            <a class="btn-login btn" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" id="nomeUsuario">
                <i class="fa fa-user"></i> Login
            </a>
        </ul>
    </div>
</nav>