<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/contato.css">
    <title>Contato - Unifisio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg mb-0">
        <div class="navbar-brand div-nav">
            <img src="../../public/img/logoSimples_png.png" alt="LOGO_UNIFISIO">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacao" aria-expanded="false" >
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse" id="barraNavegacao">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/duvidas">Duvidas</a></li> 
                <li class="nav-item"><a class="nav-link" href="/salas">Salas</a></li>
                <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
                <a class="btn-login btn" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" id="nomeUsuario">
                    <i class="fa fa-user"></i> Login
                </a>
            </ul>
        </div>
    </nav>

    <section>
        <div class="div-contato">
            <div class="div-contato-interna">
                <div class="img-contato text-center mt-3 border-img">
                    <img src="../../public/img/foto_ambiente/WhatsApp Image 2023-02-09 at 13.40.30.jpeg">
                </div>
                <div class="div-links-contato">
                    <p>
                        <i class="fa-regular fa-envelope"></i>
                        <a href="https://www.google.com/intl/pt-BR/gmail/about/">Email: unifisio@gmail.com</a>
                    </p>
                    <p>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:21 3245-1379">Telefone: 21 3245-1379</a>
                    </p>
                    <p>
                        <i class="fa-brands fa-instagram"></i> 
                        <a href="https://www.instagram.com/unifisiovix/">Instagram: UnifisioVix</a>
                    </p>
                </div>
                <div class="imagem-logo-contato">
                    <img src="../../public/img/logo_png.png">
                </div>
            </div>
        </div>
        <div class="div-whatsapp">
            <a style="color: #fff;font-size: 40px;" href="https://wa.me/5527999203727">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade modal-lg" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                    <div style="width: 50%; padding: 15px;">
                        <form method="POST" action="/loginDB">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email: </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha: </label>
                                <input type="password" class="form-control" id="senha" name="senha">
                            </div>
                            <button type="submit" class="btn btn-light w-100 mt-2" name="btn-login">Entrar</button>
                        </form>
                        <a href="" data-bs-toggle="modal" data-bs-target="#cadastro" class="btn btn-primary w-100 mt-3">Cadastrar-me</a>
                        <div class="googleAuth"> 
                            <div id="g_id_onload"
                                data-client_id="245073186631-0aq6pl4ailrqeruehjuvhkk35iuem2e6.apps.googleusercontent.com"
                                data-login_uri="http://localhost:3000/loginGoogle"
                                data-context="use">
                            </div>
                            <div class="g_id_signin"
                                data-type="standard"
                                data-size="large"
                                data-theme="outline"
                                data-text="sign_in_with"
                                data-shape="rectangular"
                                data-logo_alignment="left">
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger w-100 mt-3"><i style="padding-right: 30px" class="fa-brands fa-google"></i>Acesse com Google</button>
                    </div>
                    <div style="width: 50%; height: 100%;">
                        <img style="width: 100%;height: 100%;" src="../../public/img/sala3/1.jpg" alt="IMAGEM-SALA">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-lg" id="logadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                    <div style="width: 100%; padding: 15px;">
                        <form method="POST" action="/desconectar">
                            <button type="submit" class="btn btn-light w-100 mt-2">Desconectar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-lg" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Faça seu cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/cadastro">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome completo: </label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Especialidade: </label>
                        <input type="text" class="form-control" id="especialidade" name="especialidade">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail: </label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="d-flex w-100 mb-3">
                        <div style="width: 49%; margin-right: 2%;">
                            <label for="senha" class="form-label">Senha: </label>
                            <input type="password" class="form-control" id="senha" name="senha">
                        </div>
                        <div style="width: 49%">
                            <label for="confirma" class="form-label">Confirme sua Senha: </label>
                            <input type="password" class="form-control" id="confSenha" name="confSenha">
                        </div>
                    </div>
                    <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                    </form>
                    <div class="d-flex w-100 justify-content-end">
                        <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>

    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script src="/public/services/verificaLogin.js"></script>
</body>
</html>