<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async></script>
    <script src="/public/services/funcoesGerais.js" async></script>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300&family=Poppins:wght@200;800&display=swap" rel="stylesheet">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/duvidas.css">
    <title>Dúvidas - Unifisio</title>
</head>
<body>
    <%- include('./includes/nav.html'); %>

    <section class="div-externa-duvidas">
        <h4>Dúvidas frequentes</h4>
        <div class="duvidas-img">
            <img src="../../public/img/consultorio3/0c877bf2-88de-4b15-bdca-ccfb87e5834b.jpg" alt="">
        </div>
        <div class="accordion accordion-flush m-auto" id="accordionFlushExample"> 
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        O que é Coworking?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Coworking consiste no aluguel de salas feito a partir da sua necessidade. Assim, é possível alugar salas organizadas, limpas e equipadas por algumas horas e principalmente, por um valor que cabe no seu bolso.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Por que escolher a Unifísio?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">A Unifísio possui credibilidade e bastante tempo neste mercado. As salas são bem equipadas e localizadas, estando em ambientes seguros e de fácil acesso. Além disso, todas as reservas são asseguradas por contratos e documentos oficiais.</div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Quais beníficios em adotar o Coworking?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Ideal para você que acabou de se formar na área da saúde, 
                        você estará economizando dinheiro em relação ao aluguel mensal, ficando livre da preocupação de equipar todo um consultório.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingT">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT" aria-expanded="false" aria-controls="flush-collapseT">
                        Posso agendar uma visita antes de alugar?
                    </button>
                </h2>
                <div id="flush-collapseT" class="accordion-collapse collapse" aria-labelledby="flush-headingT" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Sim, você pode! Na tela inicial do site, clique em agendar visita para que possamos agendar o melhor horário para você.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapseT">
                        Quem somos nós?
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Os fundadores da Unifísio são Henrique e Juliana, fisioterapeutas, estão há 28 anos no mercado, atuando nos mais variados aspectos da saúde física e de recuperação, atualmente Henrinque presta atendimentos nos consultórios e Juliana administra outros empreendimentos da empresa     
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <%- include('./includes/footer.html'); %>
    <%- include('./includes/modalLogin.html'); %>
    <%- include('./includes/modalConfExclusao.html'); %>
    <%- include('./includes/modalLogout.html'); %>
    <%- include('./includes/modalAdmin.html'); %>
    <%- include('./includes/modalCadastro.html'); %>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <!-- SCRIPT JS-->
    <script src="/public/services/acoesBanco.js"></script>
</body>
</html>