<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300&family=Poppins:wght@200;800&display=swap" rel="stylesheet">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/index.css">
    <title>Home - Unifisio</title>
</head>
<body>
    <%- include('./includes/nav.html'); %>
    <div class="d-flex justify-content-center w-100 mt-2">
        <div class="liveAlertPlaceholder w-75"></div>
    </div>

    <section>
        <div class="div-inicial-index">
            <div>
                <h4 class="titulo">Conheça nossos serviços de coworking</h4>
                <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
                <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
            </div> 
            <div class="w-40">
                <img src="../../public/img/colagemIndex.png" alt="" width="100%" height="100%" style="border-radius: 5px;"> 
            </div>
        </div>

        <div class="div-localizacao">
            <div>
                <div class="iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.5001640255646!2d-40.29536494919331!3d-20.279554286342226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb8199e4c8c17db%3A0xee5b59535434cd97!2sUnifisio%20Sa%C3%BAde%20%26%20Bem%20Estar!5e0!3m2!1spt-BR!2sbr!4v1671653564524!5m2!1spt-BR!2sbr" style="border:0; margin:0px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="localizacao-texto">
                    <h3 class="titulo">Estamos em Vitória</h3>
                    
                    <div>
                        <p><i class="fa-solid fa-store"></i> Shopping Victoria Mall - Mata da Praia.</p>
                        <p><i class="fa-solid fa-car"></i> Estacionamento gratuito para você e seus pacientes.</p>
                        <p><i class="fa-solid fa-person-walking"></i> Local movimentado e com seguranças 24hrs.</p>
                        <p><i class="fa-solid fa-trash-arrow-up"></i>O prédio possui descarte de lixo hospitalar.</p>
                        <p><i class="fa-solid fa-user-doctor"></i> Fique próximo de outros consultórios e profissionais.</p>
                        <div><a type="button" href="https://wa.me/5527999203727">Agendar visita</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="div-inicial-img">
            <div class="w-100">
                <h4 class="titulo text-center">Galeria</h4>
            </div> 
            <div><img src="./public/img/consultorio1/f8569240-1c45-47a7-8942-1c87bbefcb01.jpg" alt=""></div>
            <div><img src="./public/img/consultorio2/189f63b0-5437-426d-b26e-a6f751ad112e.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/0d76829c-67f5-4c11-ad96-ba6df6913934.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/89ba97d0-56a1-41e0-96f4-69bea32198e3.jpg" alt=""></div>
            <div><img src="./public/img/consultorio1/140ba167-d447-4f86-97e6-17e5bfe4dab5.jpg" alt=""></div>
            <div><img src="./public/img/consultorio1/f1de95d2-1996-4c97-8434-c044279fc854.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/3597b589-b788-44a8-8dfa-e98f87f96af5.jpg" alt=""></div>
            <div><img src="./public/img/consultorio2/92aaeb20-8d07-4f06-a187-b1f12ddc9acb.jpg" alt=""></div>
        </div>

        <div class="div-redes">
            <div class="div-inicial-redes">
                <div class="div-redes-texto">
                    <h4 class="titulo">Visite nossas redes sociais</h4>
                    <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
                </div>
                <div class="div-redes-texto" >
                    <div><a type="button" href="https://www.instagram.com/unifisiovix/" class="btn-redes">
                        <i class="fa-brands fa-instagram"></i>
                        Conhecer Instagram</a></div>
                    <div><a type="button" href="https://www.facebook.com/Unifisiovix/" class="btn-redes">
                        <i class="fa-brands fa-facebook"></i>
                        Visitar facebook</a></div>
                    <div><a type="button" href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0zC4wz80uqcg2YLRSNqhIsjC0tEw1SbZINjRPSbIyqEhNNU0ytTQ1NjUxNklOsTT3kijNy0zLLM7MV8hKLErJzFVISVQoSM3LSAQAldEYSA&q=unifisio+jardim+da+penha&oq=unifisi&aqs=chrome.1.69i57j46i39i175i199i402i650j0i131i433i457i512j0i512l2j69i61j69i60l2.6935j0j7&sourceid=chrome&ie=UTF-8" class="btn-redes">
                        <i class="fa-brands fa-google"></i>
                        Acessar pelo Google</a></div>
                </div>
            </div>
            <div style="text-align: center; font-family: 'poppins'; font-weight: 550; padding-bottom: 10px;">
                <p>© Produzido por Code Overshadow - 2022</p>
            </div>
        </div>
    </section>

    <%- include('./includes/modalLogin.html'); %>
    <%- include('./includes/modalConfExclusao.html'); %>
    <%- include('./includes/modalLogout.html'); %>
    <%- include('./includes/modalAdmin.html'); %>
    <%- include('./includes/modalCadastro.html'); %>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>

    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script src="/public/services/funcoesGerais.js"></script>
    <script src="/public/services/acoesBanco.js"></script>
</body>
</html>