<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300&family=Poppins:wght@200;800&display=swap" rel="stylesheet">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/index.css">
    <title>Home - Unifisio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand div-nav" href="#"><img src="./public/img/logo_png.png" alt="LOGO_UNIFISIO"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/index">Home</a>
                    <a class="nav-link" href="/duvidas">Duvidas</a>
                    <a class="nav-link" href="/salas">Salas</a>
                    <a class="nav-link" href="/contato">Contato</a>
                    
                    <a class="btn-login btn" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" id="nomeUsuario">
                        <i class="fa fa-user"></i> Login
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="div-inicial-index">
            <div>
                <h4 class="titulo">Conheça nossos serviços de coworking</h4>
                <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
                <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
            </div> 
            <div class="w-40">
                <img src="../../public/img/colagemIndex.png" alt="" width="100%" height="100%" style="border-radius: 5px;"> 
            </div>
        </div>

        <div class="div-localizacao">
            <div>
                <div class="iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.5001640255646!2d-40.29536494919331!3d-20.279554286342226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb8199e4c8c17db%3A0xee5b59535434cd97!2sUnifisio%20Sa%C3%BAde%20%26%20Bem%20Estar!5e0!3m2!1spt-BR!2sbr!4v1671653564524!5m2!1spt-BR!2sbr" style="border:0; margin:0px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="localizacao-texto">
                    <h3 class="titulo">Estamos em Vitória</h3>
                    
                    <div>
                        <p><i class="fa-solid fa-store"></i> Shopping Victoria Mall - Mata da Praia.</p>
                        <p><i class="fa-solid fa-car"></i> Estacionamento gratuito para você e seus pacientes.</p>
                        <p><i class="fa-solid fa-person-walking"></i> Local movimentado e com seguranças 24hrs.</p>
                        <p><i class="fa-solid fa-trash-arrow-up"></i>O prédio possui descarte de lixo hospitalar.</p>
                        <p><i class="fa-solid fa-user-doctor"></i> Fique próximo de outros consultórios e profissionais.</p>
                        <div><a type="button" href="https://wa.me/5527999203727">Agendar visita</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="div-inicial-img">
            <div class="w-100">
                <h4 class="titulo text-center">Galeria</h4>
            </div> 
            <div><img src="./public/img/consultorio1/f8569240-1c45-47a7-8942-1c87bbefcb01.jpg" alt=""></div>
            <div><img src="./public/img/consultorio2/189f63b0-5437-426d-b26e-a6f751ad112e.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/0d76829c-67f5-4c11-ad96-ba6df6913934.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/89ba97d0-56a1-41e0-96f4-69bea32198e3.jpg" alt=""></div>
            <div><img src="./public/img/consultorio1/140ba167-d447-4f86-97e6-17e5bfe4dab5.jpg" alt=""></div>
            <div><img src="./public/img/consultorio1/f1de95d2-1996-4c97-8434-c044279fc854.jpg" alt=""></div>
            <div><img src="./public/img/consultorio3/3597b589-b788-44a8-8dfa-e98f87f96af5.jpg" alt=""></div>
            <div><img src="./public/img/consultorio2/92aaeb20-8d07-4f06-a187-b1f12ddc9acb.jpg" alt=""></div>
        </div>

        <div class="div-redes">
            <div class="div-inicial-redes">
                <div class="div-redes-texto">
                    <h4 class="titulo">Visite nossas redes sociais</h4>
                    <p>É um serviço onde você alugará um consultório médico apenas por algumas horas quando tiver pacientes agendados, dessa forma, você não precisa pagar uma mensalidade inteira para atender algumas vezes. Seu consultório já será limpo e climatizado e não precisará montar um ambiente do zero.</p>
                </div>
                <div class="div-redes-texto" >
                    <div><a type="button" href="https://www.instagram.com/unifisiovix/" class="btn-redes">
                        <i class="fa-brands fa-instagram"></i>
                        Conhecer Instagram</a></div>
                    <div><a type="button" href="https://www.facebook.com/Unifisiovix/" class="btn-redes">
                        <i class="fa-brands fa-facebook"></i>
                        Visitar facebook</a></div>
                    <div><a type="button" href="https://unifisiovix.netlify.app/" class="btn-redes">
                        <i class="fa-brands fa-google"></i>
                        Acessar pelo Google</a></div>
                </div>
            </div>
            <div style="text-align: center;font-family: 'poppins'; padding-bottom: 10px;">
                <p> © Produzido por Code Overshadow - 2023</p>
            </div>
        </div>
    </section>

    
    <!-- Modal Login-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header w-100 text-center">
                    <h5 class="modal-title">Acessar minha conta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 400px; width: 100%;">
                    <form method="POST" action="/loginDB">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email: </label>
                            <input type="email" class="form-control" id="email" name="emailLogin" placeholder="name@example.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha: </label>
                            <input type="password" class="form-control" id="senha" name="senhaLogin" required>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-secondary w-50 mt-5 mb-2" name="btn-login" id="btnLogin">Acessar</button>
                        </center>
                    </form>
                    <center>
                        <div class="googleAuth w-50"> 
                            <div id="g_id_onload"
                                data-client_id="245073186631-0aq6pl4ailrqeruehjuvhkk35iuem2e6.apps.googleusercontent.com"
                                data-login_uri="http://localhost:3000/loginGoogle"
                                data-context="use">
                            </div>
                            <div class="g_id_signin"
                                data-type="standard"
                                data-size="large"
                                data-theme="outline"
                                data-text="sign_in_with"
                                data-shape="rectangular"
                                data-logo_alignment="left">
                                <i class="fa-brands fa-google"></i>
                            </div>
                        </div>
                    </center>
                    <div class="w-100 text-center mt-2 mb-2">
                        <a href="" data-bs-toggle="modal" data-bs-target="#cadastro" class="btn btn-link w-50 mt-2" style="color: #f05e22;">Cadastrar-me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Logout-->
    <div class="modal fade modal-lg" id="logadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                    <div style="width: 100%; padding: 15px;">
                        <center>
                            <form method="POST" action="/desconectar">
                                <button type="submit" class="btn btn-secondary w-50 mt-2">Desconectar</button>
                            </form>
                            <form method="POST" action="/aluguel">
                                <button type="submit" class="btn btn-success w-50 mt-2">Meus aluguéis</button>
                            </form>
                            <form id="form-apagarConta">
                                <button type="submit" class="btn btn-danger w-50 mt-2">Apagar conta</button>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cadastro-->
    <div class="modal fade modal-lg" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Faça seu cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/cadastro">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome completo: </label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Especialidade: </label>
                        <input type="text" class="form-control" id="especialidade" name="especialidade">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail: </label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="d-flex w-100 mb-3">
                        <div style="width: 49%; margin-right: 2%;">
                            <label for="senha" class="form-label">Senha: </label>
                            <input type="password" class="form-control" id="senha" name="senha">
                        </div>
                        <div style="width: 49%">
                            <label for="confirma" class="form-label">Confirme sua Senha: </label>
                            <input type="password" class="form-control" id="confSenha" name="confSenha">
                        </div>
                        <center>
                            <button name="btn-cadastro" type="submit" class="btn btn-secondary btn-cadastro w-50 mt-3">Cadastrar</button>
                        </center>
                    </form>
                    <div class="d-flex w-100 justify-content-end">
                        <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>

    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script src="/public/services/verificaLogin.js"></script>
</body>
</html>