<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async></script>
    <script src="/public/services/verificaLogin.js" async></script>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300&family=Poppins:wght@200;800&display=swap" rel="stylesheet">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="./public/css/info.css">
    <link rel="stylesheet" href="../../public/css/modal.css">
    <title>Salas - Unifisio</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="../../public/services/app.js" defer></script>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>
    <%- include('./includes/nav.html'); %>

    <section>
        
    <div style="width: 100%;background: #f3f3f3;">
    
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;flex-wrap: wrap; width: 65%; padding: 100px 0px; align-items: center; 
    margin: auto;">
        <div style="width: 100%; text-align: center;">
            <h4 style="font-weight: 800; margin-bottom: 80px; font-family: 'poppins';color:#000">Conheça nossas salas</h4>
        </div> 
        <div style="width: 30%;border-radius: 2px;background-color: #fff;">
            
                <div class="h-50" style="background: rgb(131,58,180);
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(250,73,3,1) 62%, rgba(252,176,69,1) 100%);padding-bottom: 4px;">
                    <img src="./public/img/consultorio1/8febed64-08ff-4f67-a925-1e28edf0fd3f.jpg" alt="" class="w-100 h-100">
                </div>

                <div class="text-center">
                    <h5 style="font-weight: 800; margin-bottom: 10px; font-family: 'poppins';color:#000; margin-top: 30px;">Sala Comfort</h5>
                    <p style="color:#484848;font-weight: 500;width: 60%;margin: auto;font-family: nunito; font-size: 14px;">Para você que prioriza conforto e aconchego</p>
                    <hr style="color:#000">
                    <div class="w-100 text-center mb-3"><a id="btnComprar1" href="/salas/salaComfort" style="font-size: 16px;font-weight: 600;color: #000;text-decoration: none; border-radius: 5px;">Saber mais</a></div>
                </div>
                
        </div>
        <div style="width: 30%;border-radius: 2px;background-color: #fff;">
            <div class="h-25" style="background: rgb(131,58,180);
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(250,73,3,1) 62%, rgba(252,176,69,1) 100%);padding-bottom: 4px;">
                <img src="./public/img/consultorio3/d0b39ca3-e7e0-4d46-9c89-4e052de9150d.jpg" alt="" class="w-100 h-100">
            </div>

            <div class="text-center">
                <h5 style="font-weight: 800; margin-bottom: 10px; font-family: 'poppins';color:#000; margin-top: 30px;">Studio de Recuperação</h5>
                <p style="color:#484848;font-weight: 500;width: 60%;margin: auto;font-family: nunito; font-size: 14px;">Pilates e fisioterapia para até 5 pacientes</p>
                <hr style="color:#000">
                <div class="w-100 text-center mb-3"><a href="/salas/salaPremium" style="font-size: 16px;font-weight: 600;color: #000;text-decoration: none; border-radius: 5px;">Saber mais</a></div>
            </div>
        </div>
        <div style="width: 30%;border-radius: 2px;background-color: #fff;">
            
            <div class="h-50" style="background: rgb(131,58,180);
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(250,73,3,1) 62%, rgba(252,176,69,1) 100%);padding-bottom: 4px;">
                <img src="./public/img/consultorio2/9b881eb1-2833-4ee5-854b-089043b61202.jpg" alt="" class="w-100 h-100">
            </div>

            <div class="text-center">
                <h5 style="font-weight: 800; margin-bottom: 10px; font-family: 'poppins';color:#000; margin-top: 30px;">Sala Premium</h5>
                <p style="color:#484848;font-weight: 500;width: 60%;margin: auto;font-family: nunito; font-size: 14px;">Para você que gosta de espaço e tem muitos equipamentos</p>
                <hr style="color:#000">
                <div class="w-100 text-center mb-3"><a href="/salas/studioFisioterapia" style="font-size: 16px;font-weight: 600;color: #000;text-decoration: none; border-radius: 5px;">Saber mais</a></div>
            </div>
        </div>
        
    </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width: 70%; padding: 80px 0px; align-items: center; margin: auto;">
        <div style="width: 40%; text-align: justify; font-family: nunito; font-weight: 300; font-size: 16px;">
            <h4 style="font-weight: 800; margin-bottom: 30px; font-family: 'poppins'; text-align: start;">Entenda como funciona o coworking</h4>
            <p>Ao acessar nosso site, escolha o consultório que mais te agradar, atente-se ao visual de cada sala, assim como às especificidades de cada uma. Depois que se decidir, é só escolher seu horário e efetuar o pagamento, você receberá um comprovante de aluguel e deverá aguardar o dia agendado.</p>
        </div> 
        <div style="width: 40%;">
            <img src="./public/img/colagemProfissao.png" alt="" width="100%" height="100%" style="border-radius: 5px;"> 
        </div>
    </div>
    
    <div style="background-color: #f3f3f3;width: 100%;">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;flex-wrap: wrap; width: 65%; padding: 80px 0px; align-items: center; margin: auto;">  
            
            
            <div style="width: 48%;">
                <img src="./public/img/colagemSalas.png" alt="" width="100%" height="100%" style="border-radius: 5px;"> 
            </div>
            
            <div style="width: 48%;">
                <h4 style="font-weight: 800; margin-bottom: 10px; font-family: 'poppins';">Ofereça um espaço de qualidade aos seus pacientes e clientes</h4>
                <p style="font-family: nunito;margin-top: 30px;">Diversas particularidades tornam nosso serviço singular, além de um excelente ambiente de trabalho, outras coisas podem influenciar em uma boa experiência, conheça alguns benefícios.</p>
                <div class="d-flex justify-content-evenly margin-5 w-100 ">
                    <div class="w-50">
                        <p><i class="fa-solid fa-check text-success"></i> Estacionamento</p>
                        <p><i class="fa-solid fa-check text-success"></i> Segurança 24hrs</p>
                    </div>
                    <div class="w-50">
                        <p><i class="fa-solid fa-check text-success"></i> Ar-condicionado</p>
                        <p><i class="fa-solid fa-check text-success"></i> Lixeira hospitalar</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div style="width: 100%;">
    
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;flex-wrap: wrap; width: 65%; padding: 80px 0px; align-items: center; 
        margin: auto;">
            <div style="width: 100%; text-align: center;">
                <h4 style="font-weight: 800; margin-bottom: 50px; font-family: 'poppins';color:#000">Especialidades</h4>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-spa"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Estética</h4>
                </div>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-dumbbell"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Fisioterapia</h4>
                </div>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-brain"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Psicologia</h4>
                </div>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-apple-whole"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Nutrição</h4>
                </div>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-pen-fancy"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Tatuagens</h4>
                </div>
            </div>
            <div style="width: 30%; padding:30px 70px;background-color: #fff;">
                <div class="text-center" style="background: #f3f3f3; border-radius: 3px;
                border-top: 2px solid rgba(131,58,180,1);">
                    <p class="color-laranja" style="font-weight: 600; font-size: 30px;margin-bottom: 20px;"><i class="fa-solid fa-thermometer"></i></p>
                    <h4 style="font-weight: 300; font-family: 'poppins';color:#000;padding-bottom: 20px;">Pediatria</h4>
                </div>
            </div>
        </div>
    </div>
</section>
    
  <%- include('./includes/footer.html'); %>
  <%- include('./includes/modalLogin.html'); %>
  <%- include('./includes/modalAdmin.html'); %>
  <%- include('./includes/modalLogout.html'); %>
  <%- include('./includes/modalCadastro.html'); %>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <!-- SCRIPT JS-->
    <script src="/public/services/acoesBanco.js"></script>
    <script src="/public/services/avancar1.js"></script>
</body>
</html>