<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async></script>
    <script src="/public/services/verificaLogin.js" async></script>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/salas.css">
    <title>Sala Espaçosa e Confortável - Unifisio</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="/public/services/app.js" defer></script>
</head>
<body>
    <%- include('./includes/nav.html'); %>

    <div class="div-externa-text">
        <div class="div-interna-text">
            <div class="div-imagens-sala">
                <div class="div-imagem-grande">
                    <div><img id="imagem-grande" src="../../public/img/consultorio2/189f63b0-5437-426d-b26e-a6f751ad112e.jpg" alt=""></div>
                </div>
                <div class="div-imagens-pequenas">
                    <div><img id="img-2" src="../../public/img/consultorio2/08c3f85e-df64-46b7-934b-b23ad095672a.jpg" alt=""></div>
                    <div><img id="img-3" src="../../public/img/consultorio2/3fd3a60f-a7d1-4be3-8ed8-a0f0f43da165.jpg" alt=""></div>
                    <div><img id="img-4" src="../../public/img/consultorio2/c10e6530-53be-4194-a9b3-4cb4031129b0.jpg" alt=""></div>
                </div>
            </div>
            
            <div class="div-texto-sala">
                <p style="color: #f05e22; font-weight: 100; text-align: center;">Sobre a acomodação</p>
                <p style="text-align: center; font-size: 26px; margin-bottom: 30px;color: #01056a" id="product-description">Sala Premium</p>
                <input type="hidden" value="27.90" id="unit-price">
                <input type="hidden" value="1" id="quantity">
                <p style="font-weight: 100; font-family: nunito;">A sala foi equipada para receber pacientes de qualquer faixa etária, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id augue in massa fermentum efficitur. Ut ut interdum lacus. Aliquam interdum, mauris eget ultrices malesuada, lectus sem consequat elit, vel efficitur lorem nulla quis urna.</p>
                <div class="info-salas-card">
                    <div class="w-50">
                        <p><i class="fa-solid fa-wifi"></i> Wi-fi</p>
                        <p><i class="fa-solid fa-snowflake"></i> Ar-condicionado</p>
                        <p><i class="fa-solid fa-square-parking"></i> Estacionamento</p>
                    </div>
                    <div class="w-50">
                        <p><i class="fa-solid fa-restroom"></i> Banheiro</p>
                        <p><i class="fa-solid fa-faucet-drip"></i> Água corrente</p>
                        <p><i class="fa-solid fa-trash"></i> Lixeira hospitalar</p>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-evenly">
                    <button class="iniciar-compra" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Iniciar compra</button>

                    <button class="acessar-politica">Acesse a política de conduta</button>
                </div>
            </div>
        </div>
    </div>

    <div  class="collapse w-50 m-auto p-5" id="collapseExample" style="border: 2px solid #01056a; border-radius: 10px">
        <div class="row h-75 mb-5">
            <h4 class="mb-3 w-100" style="color: #01056a">Você está iniciando sua compra</h4>
            <div class="mb-3 col-sm-6">
                <label for="data_escolhida" class="form-label w-100">Selecione uma data</label>
                <input type="date" id="dateTime" name="dia" class="form-control">
                <input type="hidden" id="pk_sala" name="pk_sala" value="1">
            </div>
            <div class="mb-3 col-sm-6">
                <label id="label-hora" for="exampleInputEmail1" class="form-label w-100"></label>
                <div id="containerId" class="d-flex flex-wrap"></div>
            </div>
            <button id="avancar" type="button" class="btn btn-primary btn-cadastro w-25" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div id="formDadosPessoais" class="row h-75 mb-5">
            <form method="POST" action="/cadastro">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome completo: </label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Atividade: </label>
                        <input type="text" class="form-control" id="especialidade" name="especialidade">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail: </label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="d-flex w-100 mb-3">
                        <div style="width: 49%; margin-right: 2%;">
                            <label for="senha" class="form-label">Senha: </label>
                            <input type="password" class="form-control" id="senha" name="senha">
                        </div>
                        <div style="width: 49%">
                            <label for="confirma" class="form-label">Confirme sua Senha: </label>
                            <input type="password" class="form-control" id="confSenha" name="confSenha">
                        </div>
                    </div>
                    <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                </form>
                <div class="d-flex w-100 justify-content-end">
                    <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    
    <%- include('./includes/footer.html'); %>
    <%- include('./includes/modalLogin.html'); %>
    <%- include('./includes/modalConfExclusao.html'); %>
    <%- include('./includes/modalLogout.html'); %>
    <%- include('./includes/modalAdmin.html'); %>
    <%- include('./includes/modalCadastro.html'); %>
    
    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <!-- SCRIPT JS-->
    <script src="/public/services/acoesBanco.js"></script>
    <script src="/public/services/selectSalas.js"></script>
    <script src="/public/services/avancar1.js"></script>
</body>
</html>