<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logoSimples_png.png" type="image/x-icon"/>
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Css externo -->
    <link rel="stylesheet" href="../../public/css/salas.css">
    <title>Home - Unifisio</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="/public/services/app.js" defer></script>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script src='fullcalendar/dist/index.global.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            eventDisplay: 'background',
            timeZone: 'UTF-8'
        })
        calendar.render();
        console.log(calendar.getEvents());
      })
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg mb-0">
    <div class="navbar-brand div-nav">
        <img src="../../public/img/logoSimples_png.png" alt="LOGO_UNIFISIO">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacao" aria-expanded="false" >
        <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="barraNavegacao">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/duvidas">Duvidas</a></li> 
            <li class="nav-item"><a class="nav-link" href="/salas">Salas</a></li>
            <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
            <a class="btn-login btn" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                <i class="fa fa-user"></i> Login
            </a>
        </ul>
    </div>
</nav>
    
<div class="w-100">
    <img src="../../public/img/foto_ambiente/familia.jpg" alt="" style="width: 100%; height: 900px;position: relative;">
    <div class="card card-img">
        <div class="card-body">
            <p style="color: #f05e22;">Coworking Unifísio</p>
            <h4>Apoiar bons profissionais</h4>
            <p class="card-text mt-3 text-start">A Unifísio conhece os desafios de começar no mercado de trabalho, por isso buscamos simplificar sua busca por um consultório em Vitória, você terá acesso a uma sala equipada, refrigerada e limpa, totalmente preparada para que seus pacientes sejam atendidos com conforto e qualidade.</p>
            <hr>
            <a href="#" class="mt-5">Conhecer salas <i class="fa-solid fa-arrow-down"></i></a>
        </div>
    </div>
</div>
    
<div class="card-salas-info">
    <h5 class="w-100 text-center" style="color: #f05e22;">Conheça nossas unidades</h5>
    <div>
        <h4>Consultório 1</h4>
        <p style="color: #f05e22;">Coworking Unifísio</p>
        <img src="../../public/img/consultorio2/76ea70b8-f509-4479-9402-a4d222d4c2af.jpg" alt="">
        <div class="w-100 text-end"><a href="#" class="btn btn-warning mt-2">Saiba mais</a></div>
    </div>
    <div>
        <h4>Consultório 1</h4>
        <p style="color: #f05e22;">Coworking Unifísio</p>
        <img src="../../public/img/consultorio2/76ea70b8-f509-4479-9402-a4d222d4c2af.jpg" alt="">
        <div class="w-100 text-end"><a href="#" class="btn btn-warning mt-2">Saiba mais</a></div>
    </div>
    <div>
        <h4>Consultório 1</h4>
        <p style="color: #f05e22;">Coworking Unifísio</p>
        <img src="../../public/img/consultorio2/76ea70b8-f509-4479-9402-a4d222d4c2af.jpg" alt="">
        <div class="w-100 text-end"><a href="#" class="btn btn-warning mt-2">Saiba mais</a></div>
    </div>
</div>

<!-- <div class="card-body">
    <p style="color: #f05e22; font-size: 12px; text-align: center;font-family: nunito;">Coworking Unifísio</p>
    <h3 class="card-title" style="text-align: center;font-family: nunito;">Como funciona?</h3>
    <p class="card-text">Ao acessar nosso site, escolha o consultório que mais te agradar, atente-se ao visual de cada sala, assim como às especificidades de cada uma. Depois que se decidir, é só escolher seu horário e efetuar o pagamento, você receberá um comprovante de aluguel e deverá aguardar o dia agendado </p>
    <a href="#">Conhecer salas <i class="fa-solid fa-arrow-up"></i></a>
</div> -->




<footer class="footer" style="background-color: rgb(101, 115, 125);">
    <div class="div-footer">
        <div>
            <img src="../../public/img/logo_png.png" alt="logo">
        </div>
        
        <div class="icon-footer">
            <a href="https://github.com/deborabuzatto" target="_blank">
                <i style="color: #f3f3f3!important;" class="fa fa-github hover-opacity"></i>
            </a>
            <a href="" target="_blank">
                <i style="color: #f3f3f3!important;" class="fa fa-linkedin hover-opacity"></i>
            </a>
            <a href="" target="_blank">
                <i style="color: #f3f3f3!important;" class="fa fa-whatsapp hover-opacity"></i>
            </a>
            <a href="" target="_blank">
                <i style="color: #f3f3f3!important;" class="fa fa-google hover-opacity"></i>
            </a>
        </div>
        <div>
            <a style="color: #f3f3f3!important;" href="https://goo.gl/maps/6XHN11Q8mgpEdLSu7" target="_blank">
                Unifisio Saúde & Bem Estar<br>
                R. Aristóbulo Barbosa Leão 500<br>
                Shopping Victoria Mall - <br>
                Mata da Praia, Vitória - ES, 29060-010
            </a>
        </div>
    </div>
</footer>

    <!-- Modal -->
    <div class="modal fade modal-lg" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-body" style="display: flex; justify-content: space-around; padding: 0%; height: 400px; width: 100%;">
                    <div style="width: 50%; padding: 15px;">
                        <form method="POST" action="/loginDB">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email: </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha: </label>
                                <input type="password" class="form-control" id="senha" name="senha">
                            </div>
                            <button type="submit" class="btn btn-light w-100 mt-2" name="btn-login">Entrar</button>
                        </form>
                        <a href="" data-bs-toggle="modal" data-bs-target="#cadastro" class="btn btn-primary w-100 mt-3">Cadastrar-me</a>
                        <div class="googleAuth"> 
                            <div id="g_id_onload"
                                data-client_id="245073186631-0aq6pl4ailrqeruehjuvhkk35iuem2e6.apps.googleusercontent.com"
                                data-login_uri="http://localhost:3000/loginGoogle"
                                data-context="use">
                            </div>
                            <div class="g_id_signin"
                                data-type="standard"
                                data-size="large"
                                data-theme="outline"
                                data-text="sign_in_with"
                                data-shape="rectangular"
                                data-logo_alignment="left">
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger w-100 mt-3"><i style="padding-right: 30px" class="fa-brands fa-google"></i>Acesse com Google</button>
                    </div>
                    <div style="width: 50%; height: 100%;">
                        <img style="width: 100%;height: 100%;" src="../../public/img/sala3/1.jpg" alt="IMAGEM-SALA">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-lg" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Faça seu cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/cadastro">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome completo: </label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Especialidade: </label>
                        <input type="text" class="form-control" id="especialidade" name="especialidade">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail: </label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="d-flex w-100 mb-3">
                        <div style="width: 49%; margin-right: 2%;">
                            <label for="senha" class="form-label">Senha: </label>
                            <input type="password" class="form-control" id="senha" name="senha">
                        </div>
                        <div style="width: 49%">
                            <label for="confirma" class="form-label">Confirme sua Senha: </label>
                            <input type="password" class="form-control" id="confSenha" name="confSenha">
                        </div>
                    </div>
                    <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                    </form>
                    <div class="d-flex w-100 justify-content-end">
                        <button name="btn-cadastro" type="type" class="btn btn-primary btn-cadastro">Confirmar</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    <!-- Script Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script src="/public/services/avancar1.js"></script>
</body>
</html>