<!DOCTYPE html>
<html>

<head>
  <title>Template Code - Checkout Pro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script type="text/javascript" src="js/index.js" defer></script>
</head>

<body>
  <main>
    <!-- Shopping Cart -->
    <section class="shopping-cart dark">
      <div class="container" id="container">
        <div class="block-heading">
          <h2>Interface para teste de API MP</h2>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product">
                  <div class="info">
                    <div class="product-details">
                      <div class="row justify-content-md-center">
                        <div class="col-md-3">
                          <img class="img-fluid mx-auto d-block image" alt="Image of a product" src="img/product.png">
                        </div>
                        <div class="col-md-4 product-detail">
                          <h5>Produto</h5>
                          <br class="product-info">
                          <br>
                          <b>Descrição: </b><span id="product-description">Some book</span><br>
                          <b>Preço:</b> R$ <span id="unit-price">10</span>
                        </div>
                      </div>
                      <div class="col-md-3 product-detail">
                        <label for="quantity">
                          <b>Quantity</b>
                        </label>
                        <input type="number" id="quantity" value="1" min="1" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sumario" class="col-md-6 col-lg-4">
            <div class="summary">
              <button class="btn btn-primary btn-lg btn-block" id="checkout">Checkout</button>
            </div>
          </div>
          <div id="sumario2" class="col-md-6 col-lg-4">
            <div class="summary">
              <div id="button-checkout"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="../../public/services/teste.js"></script>
</body>
</html>